body {
  margin: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: all 1s ease-in-out;
}

/* hover, active */

.box:active {
  width: 300px;
  background-color: royalblue;
}

/* 데이터 입력받는 요소 (input) : focus */

.input__box:focus {
  background-color: gold;
}

/* tabindex */

.box__tabindex {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: all 1s ease-in-out;
}

.box__tabindex:focus {
  width: 300px;
  background-color: royalblue;
}

.fruits div:first-child {
  color: red;
  background-color: black;
}

/* 가상 요소 선택자 : after, before */

.box__pe {
  width: 100px;
  height: 100px;
  background-color: violet;
}

.box__pe::before {
  content: "내부 앞";
  display: block;
  color: yellow;
  font-weight: bold;
}

.box__pe::after {
  content: "내부 뒤";
  display: block;
  color: blue;
  font-weight: bold;
}

/* 속성 선택자 */

[type="password"] {
  background-color: yellow;
}

/* data-이름="데이터" 도 속성 연산자 사용 가능하다. */

[data-fruit-name] {
  color: red;
  font-weight: bold;
}

/* 강제 상속 */

.parent {
  width: 300px;
  height: 200px;
  background-color: royalblue;
}

.child {
  width: 100px;
  height: inherit;
  background-color: inherit;
  position: fixed;
  top: 100px;
  right: 100px;
}
