* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flip {
  width: 300px;
  height: 300px;
  position: relative;
  perspective: 1100px;
  margin: 100px;
}

.flip__container {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 300px;
  transition: 0.4s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}

.front {
  background-color: tomato;
  /*  front에 hidden 설정하여 뒤집으면 back 보이게 만듦  */
  backface-visibility: hidden;
}

.back {
  background-color: royalblue;
  z-index: -1;
  /*  뒷면 글자를 제대로 보여주기 위하여  */
  transform: rotateY(180deg);
}

.flip:hover .flip__container {
  transform: rotateY(180deg);
  transition: 0.4s;
  .front {
    z-index: -1;
  }
}
